.personal-details-container {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-top: 20vh;
    max-width: 600px;
    margin: 80px auto; 
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}
/* ----- SCROLLBAR styling ------ */
::-webkit-scrollbar {
    width: 0.4vw;
    opacity: 0.1;
}

/* knop */
::-webkit-scrollbar-thumb {
    height: 33vh;
    background-color: rgba(96, 206, 224, 0.95);
    border-radius: 20vh;
}
.personal-details-container:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}

.personal-details-container h1 {
    margin-top: 5vh;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

.personal-details-container h1:hover {
    color: #6c5ce7; 
}

.personal-details-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    transition: border-color 0.3s ease, transform 0.2s ease-in-out;
}

.input-group:hover {
    border-color: #6c5ce7; 
    transform: scale(1.02); 
}

.input-group i {
    margin-right: 10px;
    color: #6c5ce7;
    transition: color 0.3s ease;
}

.input-group:hover i {
    color: #6c5ce7; 
}

.input-group input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.input-group input:focus {
    background-color: #e6f7ff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.6); 
}

.update-button {
    background-color: #6c5ce7;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

.update-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.update-button:active {
    background-color: #004085; 
    transform: scale(1); 
}
